:root{
    --background: #2b2d42;
    --gray-blue: #8d99ae;
    --white: #edf2f4;
    --red: #d90429;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--white);
}

header {
    width: 100%;
    background: var(--background);
    padding: 2rem 3rem;
}

header h1 {
    color: var(--red);
}
header h2 {
    color: var(--gray-blue);
}

h3{
    color: var(--red);
}

#calc {
    margin-top: 1.5rem;
    float: left;
    padding: 2rem;
}

#calc h3 {
    margin-left: 2rem;
}

#box-text {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
    
}

.inputs {
    height: 2rem;
}

#calcu {
    width: 8rem;
    height: 3rem;
    margin-left: 1.5rem;
    border: 0;
    border-radius: 5px;
    color: var(--red);
    background: var(--background);

    font-size: 1.5rem;
}

#calcu:hover {
    background: var(--red);
    color: var(--background);
}

